.Rproj.user
.Rhistory
.Ruserdata
Figures/
*.Rproj
*pptx
*.DS_Store
MS_files/
*.xlsx
Data/all_visits.txt
Data/all_reads.txt

# all rds and rdata files
*.rds
*.RData

# keep all capture data private for the time being
Data/hja_hummingbird_captures_all*

